 @import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');



.Modal{
    
    margin-left :85%;
    margin-top: -60px;
    
}

h2{
    padding-left: 35%;
}

.modalLoginPage{
    width: 80px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
    border-color: azure;
    

    
}

.modal-Register{
    width: 80px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
    border-color: azure;
    

    
}

.modalLoginPage.Header{
   margin-top: 10%;
}

.Header{
   h1{
    margin-right: 84%;
 }
}
 
